<!DOCTYPE html>
<html lang="en" ng-app="menuApp">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head
             content must come *after* these tags -->
        <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
        <!--
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css" rel="stylesheet">
        -->

        <!-- build:css styles/main.css -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="styles/bootstrap-social.css" rel="stylesheet">
        <link href="styles/mystyles.css" rel="stylesheet">
        <link href="styles/menu.css" rel="stylesheet">    
        <!-- endbuild -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>

    <body ng-controller="menuCtrl" ng-cloak>

        <div class="container">
            <div class="row row-content">
                <div class="col-xs-12">
                    
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{active:is_category_selected('')}"
                            role="presentation">
                            <a href=""
                               ng-click="select_category('')"
                               role="tab"
                               aria-controls="all menu">The Menu</a>
                        </li>
                        <li ng-repeat="category in all_categories"
                            ng-class="{active:is_category_selected(category)}"
                            role="presentation">
                            <a href=""
                               ng-click="select_category(category)"
                               role="tab"
                               aria-controls="category">{{category | capitalCase}}</a>
                        </li>
                    </ul>
                    
                    <div class="tab-content">
                        <ul class="media-list tab-pane fade in active">
                            <li class="media" ng-repeat="the_dish in all_dishes | filterCategory:selected_category">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" alt="pizza" ng-src="{{the_dish.image}}"/>
                                    </a>
                                </div>

                                <div class="media-body">
                                    <h4 class="media-heading">{{the_dish.name}}
                                        <span class="label label-danger label-xs" ng-if="the_dish.label">
                                            {{the_dish.label}}</span>
                                        <span class="badge">
                                            {{the_dish.price | currency}}
                                        </span>
                                    </h4>
                                    <p>{{the_dish.description}}
                                    </p>

                                    <!--
                                        <p>comment : {{the_dish.comment}}</p>

                                        <label for="#dish_comment">Type your comment:
                                            <input id="dish_comment" type="text" ng-model="the_dish.comment"/>
                                        </label>
                                        -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- js scripts -->
        <div>
            <!-- build:js scripts/main.js -->
            <script src="../bower_components/angular/angular.js"></script>
            <script src="scripts/menu.js"></script>
            <!-- endbuild -->
        </div>
    </body>

</html>
