<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">About the <span style="color:teal;">tiny app</span></h1>

        <p class="lead">
            Dolor sit amet, consectetur adipiscing elit
            duis tristique sollicitudin nibh sit amet commodo nulla
            facilisi nullam vehicula ipsum a arcu cursus vitae congue
            mauris rhoncus aenean.
        </p>
        <hr class="m-y-2">
        
        <p>
            Et leo duis ut diam quam nulla porttitor massa id neque
            aliquam vestibulum morbi blandit cursus risus, at
            ultrices. Urna, molestie at elementum eu, facilisis sed
            odio morbi quis commodo?
        </p>

        <p class="lead">
            <a class="btn btn-primary btn-lg"
               ui-sref="listMovies"
               role="button">
                Can someone tell me what the above paragraphs read, please?
            </a>
        </p>
    </div>

</div>
