<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Contact</h1>

        <p class="lead">
            Luctus venenatis, lectus magna fringilla urna, porttitor
            rhoncus dolor purus non enim praesent elementum facilisis
            leo, vel fringilla est ullamcorper eget.
        </p>

        <p>
            Nunc congue nisi, vitae suscipit tellus mauris a diam.
        </p>
        <hr class="m-y-2">
        
        <p>
            Neque egestas congue quisque egestas diam in arcu cursus euismod.
        </p>

        <ul>
            <li>1-800-123-4567</li>
            <li>help@whaterver.somewhere</li>
            <li>987 faraway street, busy town, out of state</li>
        </ul>
    </div>

</div>
