<div ng-controller="MovieMenuBarController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="containr-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   style="color:teal; font-weight:bold; text-align:top;"
                   ui-sref="{{menu.brand.state}}">
                    {{menu.brand.label}}
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav nav">
                    <li ng-repeat="item in menu.items">
                        <a ui-sref="{{item.state}}">
                            {{item.label}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
