<div class="row row-content">
    <div class="media" >
        <div class="media-left">
            <a href=""><img class="media-object img-thumbnail img-responsive"
                            alt="" ng-src="{{dish.image}}"/>
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                {{dish.name}}
                <span ng-if="dish.label" class="label label-danger label-xs">
                    {{dish.label}}
                </span>
                
                <span ng-if="dish.label">
                    &nbsp;                                    
                </span>
                
                <span class="badge">
                    {{dish.price}}
                </span>
            </h3>
            <p>
                {{dish.description}}
            </p>
        </div>
    </div>
</div>

